@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#divInicio {
    background-image: url(../img/fondoInicio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: currentColor;
    background-blend-mode: luminosity;
    color: cadetblue;
    transition: .5s;
    width: 100%;
}
#divInicio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, currentColor, rgba(0,0,0,.2) 20%, rgba(0,0,0,.2) 80%, currentColor);
    filter: saturate(2);
}
h1 {
    font-size: 12vmin;
    text-align: center;
    font-weight: 400;
    font-variant: small-caps;
    transition: .5s;
    text-shadow: 0 0 1px #fff;
    mix-blend-mode: screen;
    color: aliceblue;
}
p {
  font-size: 2rem;
  color: #CCC;
  text-align: center;
  position: relative;
}
.fa-text-twitter{
    float: none;
    position: relative;
}
.fa-text-twitter:before {
    content: "";
}
label {
  text-align: left;
  margin: 5px;
}
#alert-img {
    margin: 5px;
    width: 3%;
}
#botonLoginNav {
    width: 6%;
    margin: 8px -10px 8px 5px;
}
footer {
    bottom: 0px;
    margin-bottom: 0;
    left: 0;
    right: 0;
}
#contenido {padding: 0;}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
@media (max-width: 319px){
    .navbar-brand{display:none;}
    .form-group > .col-xs-4{width:100%;}
    .form-group > .col-xs-8{width:100%;}
    .table > thead > tr > th:first-child{display:none;}
    .table > tbody > tr > td:first-child{display:none;}
    .alert{margin-top: -18px;}
    #divInicio > .col-xs-6 {
        width: 98%;
        margin: auto;
    }
    #divInicio > .col-xs-6 > button {width: 90%;}
    #alert-img {
        margin: 2px;
        width: 15%;
    }
    #botonLoginNav {width: 22%;}
}
@media (min-width: 320px){
    .alert{margin-top: -18px;}
    #botonLoginNav {width: 22%;}
    #alert-img {width: 12%;}
}
@media (min-width: 320px) AND (max-width: 340px){
    .form-group > .col-xs-4{width:40%;}
    .form-group > .col-xs-8{width:60%;}
    #alert-img {width: 12%;}
}
@media (min-width: 340px) AND (max-width: 360px){
    .form-group > .col-xs-4{width:37%;}
    .form-group > .col-xs-8{width:63%;}
    #alert-img {width: 12%;}
    #botonLoginNav {width: 20%;}
}
@media (min-width: 320px) AND (max-width: 360px){
    #divInicio > .col-xs-6 > button {width: 90%;}
}
@media (min-width: 380px){
    #alert-img {width: 10%;}
    #botonLoginNav {width: 18%;}
}
@media (min-width: 420px){
    #alert-img {width: 9%;}
    #botonLoginNav {width: 16%;}
}
@media (min-width: 460px){
    #alert-img {width: 8%;}
    #botonLoginNav {width: 14%;}
}
@media (max-width: 519px){
    .navbar-brand{display:none;}
}
@media (min-width: 520px){
    #alert-img {width: 7%;}
    #botonLoginNav {width: 12%;}
}
@media (min-width: 580px){
    #alert-img {width: 6%;}
    #botonLoginNav {width: 12%;}
}
@media (min-width: 640px){
    #botonLoginNav {width: 11%;}
}
@media (min-width: 720px){
    #alert-img {width: 5%;}
    #botonLoginNav {width: 10%;}
}
@media (min-width: 800px){
    #botonLoginNav {width: 9%;}
}
@media (min-width: 880px){
    #alert-img {width: 4%;}
    #botonLoginNav {width: 8%;}
}
@media (min-width: 960px){
    #botonLoginNav {width: 7%;}
}
@media (min-width: 1040px){
    #alert-img {width: 3%;}
    #botonLoginNav {width: 6%;}
    #divInicio {height: 80vh;}
}
















