<h1>¡Bienvenid@!</h1>
<div class="clearfix">&nbsp;</div>
<h2 id="nombre-twitter"></h2>
<div class="clearfix">&nbsp;</div>
<p>Eres parte de la familia Velandia Salamanca.</p>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<a id="loginButtonCont" class="btn btn-twitter">
    <span class="fa fa-twitter" style="float:none;position:relative;"></span>
    <span class="fa-text-twitter">&nbsp;&nbsp;Login con Twitter</span>
</a>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<p>La vida es hermosa, al lado de nuestro seres amados.</p>
<div class="clearfix">&nbsp;</div>
<script>
    var $loginButtonCont = $("#loginButtonCont");
</script>